{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La Boutique Française{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hesitez pas a prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>La Boutique Française</strong>
            <hr>
            06 76 62 25 01<br/>
            25 cours de l'ancienne boulangerie 92130 issy-les-moulineaux<br/>
            yaelabitbol7@gmail.com<br/>
        </div>
    </div>

{% endblock %}
